<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static_file/style.css">
  </head>
  <body>
    <% include partials/nav.ejs %>
    <h1>This is the website demo.</h1>
    <p> Thanks for visiting the website</p>
  </body>
</html>
