<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static_file/style.css">
  </head>
  <body>
    <% include partials/nav.ejs %>
    <h1>Sucessfully Render the Page</h1>
    <p> Thanks for your Attention</p>
    <p>You Contacted <%= data.who %> in the <%= data.department %> department</p>
    <p>Thanks for your interest we will reply you at <%= data.Email %></p>
  </body>
</html>
